<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Le mie prenotazioni</title></head>
<body>
<div th:replace="fragments/navbar :: body"></div>

<h1>Le mie prenotazioni</h1>

<table border="1">
    <tr>
        <th>ID</th><th>Data</th><th>Ora</th><th>Persone</th><th>Tavolo</th><th>Stato</th>
    </tr>

    <tr th:each="p : ${prenotazioni}">
        <td th:text="${p.id}"></td>
        <td th:text="${p.data}"></td>
        <td th:text="${p.ora}"></td>
        <td th:text="${p.persone}"></td>
        <td th:text="${p.tavolo.numero}"></td>
        <td th:text="${p.stato}"></td>
    </tr>
</table>

</body>
</html>
